/* 
    typography-start
*/

.ap-p-1 {
    font-family: var(--ap-font-1);
    font-weight: 300;
    font-size: 18px;
    color: #fff;
    line-height: 150%;
    margin-bottom: 0;
    opacity: 90%;
}


.ap-h-1 {
    font-family: var(--ap-font-1);
    font-weight: 600;
    color: #fff;
    line-height: 140%;
    margin-bottom: 0;
}


.ap-subtitle-1 {
    font-family: var(--ap-font-1);
    color: var(--ap-clr-pr-1);
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    display: inline-flex;
    gap: 10px;
    margin-bottom: 12px;
}



.ap-sec-title-1 {
    font-family: var(--ap-font-1);
    color: #fff;
    font-weight: 600;
    line-height: 140%;
    font-size: 40px;
    margin-bottom: 0;

    span {
        color: var(--ap-clr-pr-1);
    }


    @media #{$md} {
        font-size: 35px;
    }

    @media #{$xs} {
        font-size: 28px;
    }

    @media #{$sm} {
        font-size: 32px;
    }
}




/* 
    typography-end
*/

