/* 
    about-1-start
*/
.ap-about-1 {
    &-sec-title {
        display: flex;
        gap: 50px;
        flex-wrap: wrap;
        justify-content: space-between;

        .left {
            max-width: 680px;
        }
    }
    &-video {
        max-width: 306px;
        height: 200px;
        width: 100%;
        border-radius: 16px;
        position: relative;
        z-index: 1;

        &-btn {
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
    }


    &-wrap {
        display: flex;
        gap: 50px;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 70px;
    }
    
    &-left {
        max-width: 405px;
        width: 100%;

        .left-disc {
            margin-bottom: 70px;
        }
        
        .shape-1 {
            img {
                animation: ap-vector-color-shift 4s linear infinite;
            }
        }
    }
    
    &-counter {
        display: flex;
        align-items: end;
        gap: 20px;
        position: relative;
        z-index: 1;
        margin-bottom: 80px;

        &::after {
            content: "";
            width: 70px;
            height: 3px;
            background-color: var(--ap-clr-pr-1);
            position: absolute;
            top: 0;
            left: 100px;
        }

        .number {
            font-size: 72px;
            color: var(--ap-clr-pr-1);
            margin-bottom: 0;
        }

        .disc {
            margin-bottom: 10px;
        }
    }
    
    
    &-img {
        width: 440px;
        height: 540px;
        border-radius: 16px;
    }
    
    &-right {
        max-width: 245px;
        width: 100%;
        align-self: center;

        .right-subtitle {
            font-size: 18px;
            color: var(--ap-clr-pr-1);
            margin-bottom: 25px;
        }

        .right-title {
            font-size: 24px;
            margin-bottom: 80px;
        }
    }
    
}

/* 
    about-1-end
*/

/* 
    about-2-start
*/
.ap-about-2 {
    &-wrap {
        display: flex;
        flex-wrap: wrap;
        gap: 50px;
        justify-content: space-between;
    }

    &-left {
        max-width: 746px;
        width: 100%;

        @media #{$xl,$lg,$md,$xs} {
            max-width: 646px;
        }
    }

    &-img {
        max-width: 416px;
        width: 100%;
        height: 495px;
        border-radius: 16px;
    }

    &-left {
        &-inner {
            display: flex;
            gap: 90px;

            @media #{$xl,$lg,$md} {
                gap: 40px;
            }

            @media #{$xs} {
                flex-wrap: wrap;
                gap: 40px;
            }
        }
    
    }    

    &-exp {
        flex: 0 0 auto;
        line-height: 1;

        .number {
            font-size: 200px;
            font-weight: 300;
            display: flex;
            line-height: 1;

            @media #{$xl,$lg,$md,$xs} {
                font-size: 120px;
            }

            .plus {
                font-size: 50px;
            }
        }

        .disc {
            text-align: center;
        }
    }


    &-content {
        border-left: 1px solid #1F1F1F;
        padding-left: 48px;

        .disc {
            margin-bottom: 45px;
        }
    }
    
}


/* 
    about-2-end
*/