/* 
    blog-1-start
*/
.ap-blog-1 {
    &-sec-title {
        display: flex;
        align-items: center;
        gap: 40px;
        flex-wrap: wrap;
        justify-content: space-between;

        .left {
            max-width: 660px;
        }

        .right {
            max-width: 395px;
        }

        .sec-disc {
            margin-bottom: 34px;
        }
        
    }

    &-wrap {
        display: grid;
        gap: 24px;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: start;

        @media #{$lg} {
            grid-template-columns: 1fr 1fr;
        }

        @media #{$md,$xs} {
            grid-template-columns: 1fr ;
        }
    }
    
    &-item {
        .img-elm {
            position: relative;
            height: 420px;
            border-radius: 16px;
            margin-bottom: 24px;

            &::before {
                content: '';
                position: absolute;
                inset: 0;
                border: 2px solid var(--ap-clr-pr-1);
                border-radius: 16px;
                clip-path: inset(50%);
                transition: var(--ap-cube-1);
            }
        }

        .content-wrap {
            padding: 0 12px;
        }

        .item-meta {
            display: flex;
            flex-wrap: wrap;
            gap: 10px 24px;
            align-items: center;
            border-bottom: 1px solid #1F1F1F;
            padding-bottom: 22px;
            margin-bottom: 24px;

            &-elm {
                font-size: 16px;
            }

            .line {
                width: 52px;
                height: 1px;
                background: #DFDFDF;
                opacity: 40%;
            }
        }
        
        .title {
            font-size: 22px;
            font-weight: 400;
            margin-bottom: 40px;
            transition: var(--ap-cube-1);

            a {
                display: inline;
                color: inherit;
                background-image: linear-gradient(currentColor, currentColor);
                background-repeat: no-repeat;
                background-position: left 100%;
                background-size: 0% 1px;
                transition: var(--ap-cube-1);

                &:hover {
                    color: var(--ap-clr-pr-1);
                    background-size: 100% 1px;
                }
            }
        }

        .item-btn {
            display: inline-flex;
            align-items: center;
            gap: 12px;
            transition: var(--ap-cube-1);

            .icon {
                width: 32px;
                height: 32px;
                background-color: #1F1F1F;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                color: #fff;
                transition: var(--ap-cube-1);
            }


            &:hover {
                color: var(--ap-clr-pr-1);
                gap: 18px;

                .icon {
                    background-color: var(--ap-clr-pr-1);
                }
            }

        }

        &:hover {
            .img-elm {
                &::before {
                    clip-path: inset(0);
                }
            }

        }

    }
}
/* 
    blog-1-end
*/
/* 
    blog-2-start
*/
.ap-blog-2 {
    &-wrap {
        display: grid;
        gap: 24px;
        grid-template-columns: 1fr 1fr 1fr;

        @media #{$md} {
            grid-template-columns: 1fr 1fr;
        }

        @media #{$xs} {
            grid-template-columns: 1fr;
            gap: 50px;
        }
    }

    &-item {
        display: flex;
        flex-direction: column;
        gap: 34px;

        .item-img {
            height: 320px;
            border-radius: 16px;

            img {
                transition: var(--ap-cube-1);
            }
        }

        .content-wrap {
            padding: 0 12px;
        }
        .title {
            font-size: 24px;
            margin-bottom: 12px;

            @media #{$xl,$lg,$md,$xs} {
                font-size: 22px;
            }

            a {
                text-decoration: underline;
                text-decoration-color: transparent;
                text-decoration-thickness: 1px;
                text-underline-offset: 4px;
                transition: text-decoration-color 0.4s ease;

                &:hover {
                    text-decoration-color: currentColor;
                    color: var(--ap-clr-pr-1);
                }
            }
        }
        .disc {
            margin-bottom: 33px;
        }

        .item-btn {
            display: inline-flex;
            align-items: center;
            gap: 12px;
            font-weight: 400;
            font-size: 18px;
            transition: var(--ap-cube-1);

            .icon {
                width: 32px;
                height: 32px;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                background: #1F1F1F;
                border-radius: 50%;
                font-size: 16px;
            }

            &:hover {
                color: #fff;

                .icon {
                    background-color: var(--ap-clr-pr-1);
                }

            }
        }

        &:hover {
            .item-img {
                img {
                    transform: scale(1.05);
                }
            }
        }
    }    
}

/* 
    blog-2-end
*/

/* 
    blog-3-start
*/
.ap-blog-3 {
    &-wrap {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 24px;

        @media #{$lg,$md,$xs} {
            grid-template-columns: 1fr;
        }
    }

    &-item {
        display: grid;
        grid-template-columns: 1fr 1.08fr;
        align-items: center;
        perspective: 2000px;
        transform-style: preserve-3d;

        @media #{$xs} {
            grid-template-columns: 1fr ;
        }

        @media #{$sm} {
            grid-template-columns: 1fr 1.08fr;
        }


        .blog-img {
            height: 320px;
            border-radius: 16px;
            transition: var(--ap-cube-1);
        }
        
        .blog-meta {
            opacity: 1;
            color: #DFDFDF;
            display: flex;
            justify-content: space-between;
            gap: 10px 20px;
            border-bottom: 1px solid rgb(223 223 223 / 20%);
            padding-bottom: 20px;
            align-items: center;
            margin-bottom: 24px;
            flex-wrap: wrap;


            .line {
                width: 48px;
                height: 1px;
                background: #fff;
                opacity: 30%;
            }
        }

        .title {
            font-size: 24px;
            margin-bottom: 70px;
            transition: var(--ap-cube-1);

            &:hover {
                color: var(--ap-clr-pr-1);
            }
        }
        
        .content-wrap {
            padding: 24px;
        }
        
        .blog-btn {
            opacity: 1;
            display: inline-flex;
            align-items: center;
            gap: 10px;
            transition: var(--ap-cube-1);
            .icon {
                width: 32px;
                height: 32px;
                background: #1F1F1F;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                font-size: 16px;
                transition: var(--ap-cube-1);
            }

            &:hover {
                color: var(--ap-clr-pr-1);
                .icon {
                    background-color: var(--ap-clr-pr-1);
                    color: #fff;
                }
            }
        }

        &:hover {
            .blog-img {
                transform: rotateY(12deg);
            }
        }
    }
}


/* 
    blog-3-end
*/