/* 
    blog-1-start
*/
.ap-blog-1 {
    &-sec-title {
        display: flex;
        align-items: center;
        gap: 40px;
        flex-wrap: wrap;
        justify-content: space-between;

        .left {
            max-width: 660px;
        }

        .right {
            max-width: 395px;
        }

        .sec-disc {
            margin-bottom: 34px;
        }
        
    }

    &-wrap {
        display: grid;
        gap: 24px;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: start;

        @media #{$lg} {
            grid-template-columns: 1fr 1fr;
        }

        @media #{$md,$xs} {
            grid-template-columns: 1fr ;
        }
    }
    
    &-item {
        .img-elm {
            position: relative;
            height: 420px;
            border-radius: 16px;
            margin-bottom: 24px;

            &::before {
                content: '';
                position: absolute;
                inset: 0;
                border: 2px solid var(--ap-clr-pr-1);
                border-radius: 16px;
                clip-path: inset(50%);
                transition: var(--ap-cube-1);
            }
        }

        .content-wrap {
            padding: 0 12px;
        }

        .item-meta {
            display: flex;
            flex-wrap: wrap;
            gap: 10px 24px;
            align-items: center;
            border-bottom: 1px solid #1F1F1F;
            padding-bottom: 22px;
            margin-bottom: 24px;

            &-elm {
                font-size: 16px;
            }

            .line {
                width: 52px;
                height: 1px;
                background: #DFDFDF;
                opacity: 40%;
            }
        }
        
        .title {
            font-size: 22px;
            font-weight: 400;
            margin-bottom: 40px;
            transition: var(--ap-cube-1);

            a {
                display: inline;
                color: inherit;
                background-image: linear-gradient(currentColor, currentColor);
                background-repeat: no-repeat;
                background-position: left 100%;
                background-size: 0% 1px;
                transition: var(--ap-cube-1);

                &:hover {
                    color: var(--ap-clr-pr-1);
                    background-size: 100% 1px;
                }
            }
        }

        .item-btn {
            display: inline-flex;
            align-items: center;
            gap: 12px;
            transition: var(--ap-cube-1);

            .icon {
                width: 32px;
                height: 32px;
                background-color: #1F1F1F;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                color: #fff;
                transition: var(--ap-cube-1);
            }


            &:hover {
                color: var(--ap-clr-pr-1);
                gap: 18px;

                .icon {
                    background-color: var(--ap-clr-pr-1);
                }
            }

        }

        &:hover {
            .img-elm {
                &::before {
                    clip-path: inset(0);
                }
            }

        }

    }
}
/* 
    blog-1-end
*/