/* 
    choose-1-start
*/
.ap-choose-1 {
    &-area {
        background-color: #171717;
    }

    &-sec-title {
        max-width: 590px;
        margin-bottom: 157px;

        .ap-sec-title-1 {
            margin-bottom: 16px;
        }
        
    }

    &-card {
        display: grid;
        gap: 24px;
        grid-template-columns: 1fr 1fr 1fr;
        max-width: 1270px;

        @media #{$md} {
            grid-template-columns: 1fr 1fr;
        }

        @media #{$xs} {
            grid-template-columns: 1fr;
        }

        @media #{$sm} {
            grid-template-columns: 1fr 1fr;
        }

        &-single {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            background-color: #1B1B1B;
            padding: 40px 40px;
            gap: 20px;
            border-radius: 12px;

            @media #{$xl,$lg,$md,$xs} {
                padding: 40px 20px;
            }

            .title {
                font-size: 24px;

                @media #{$xl,$lg,$md,$xs} {
                    font-size: 22px;
                }
            }


            &:first-child {
                background-color: var(--ap-clr-pr-1);
            }

            &:last-child {
                background-color: rgb(255 255 255 / 80%);

                .title {
                    color: #000;
                }

                .disc {
                    color: #000;
                }
            }
        }
    }
    
    &-img {
        text-align: right;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        z-index: -1;

        @media #{$md,$xs} {
            position: unset;
            transform: unset;
            margin-top: 40px;

        }
    }
}
/* 
    choose-1-end
*/
/* 
    choose-2-start
*/
.ap-choose-2 {
    &-wrap {
        display: grid;
        gap: 130px;
        grid-template-columns: 1.2fr 1fr;

        @media #{$lg} {
            gap: 50px;
        }

        @media #{$md,$xs} {
            gap: 50px;
            grid-template-columns: 1fr;
        }
    }
    &-content {
        .ap-sec-title-1 {
            margin-bottom: 40px;
        }

        .img-elm {
            height: 360px;
            border-radius: 16px;
            margin-bottom: 40px;
        }
        .disc {
            margin-bottom: 40px;
        }


    }


    &-card {
        display: flex;
        flex-direction: column;
        gap: 32px;

        &-single {
            display: flex;
            gap: 65px;
            border-top: 1px solid #1F1F1F;
            padding-top: 32px;

            @media #{$xs} {
                flex-wrap: wrap;
                gap: 40px;
            }

            @media #{$sm} {
                flex-wrap: nowrap;
                gap: 65px;
            }

            .number {
                font-size: 20px;
                color: var(--ap-clr-pr-1);
                flex: 0 0 auto;
            }

            .title {
                font-size: 20px;
                margin-bottom: 15px;
            }

            &:last-child {
                padding-bottom: 32px;
                border-bottom: 1px solid #1F1F1F;
            }
        }
    }
}




/* 
    choose-2-end
*/

/* 
    choose-3-start
*/
.ap-choose-3 {
    &-sec-title {
        display: flex;
        align-items: center;
        gap: 40px;
        justify-content: space-between;

        @media #{$md,$xs} {
            flex-wrap: wrap;
        }

        .left {
            max-width: 450px;
        }

        .right {
            max-width: 400px;
        }

        .sec-disc {
            margin-bottom: 32px;
        }
    }

    &-wrap {
        display: grid;
        gap: 70px;
        grid-template-columns: 1fr 1.08fr;

        @media #{$md,$xs} {
            grid-template-columns: 1fr;
        }
    }

    &-left {
        .left-disc {
            font-size: 20px;
            margin-bottom: 20px;
        }
    }
    &-img {
        height: 520px;
        border-radius: 12px;
    }

    &-counter {
        display: flex;
        gap: 40px;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 110px;

        &-item {
            max-width: 260px;
            width: 100%;

            .number {
                font-size: 75px;
                line-height: 1;
                color: var(--ap-clr-pr-1);
            }
    
            .disc {
                text-transform: uppercase;
                opacity: 1;
                margin-bottom: 20px;
            }
        }
    }


    &-card {
        display: grid;
        gap: 24px;
        grid-template-columns: 1fr 1fr 1fr;

        @media #{$md} {
            grid-template-columns: 1fr 1fr;
        }
        @media #{$xs} {
            grid-template-columns: 1fr;
        }

        &-single {
            padding: 40px;
            border-radius: 12px;
            background-color: #171717;

            @media #{$xl,$lg,$md,$xs} {
                padding: 40px 20px;  
            }

            .title-x-icon {
                display: flex;
                align-items: center;
                border-bottom: 1px solid rgb(223 223 223 / 10%);
                justify-content: space-between;
                padding-bottom: 30px;
                margin-bottom: 30px;
            }
            

            .title {
                font-size: 24px;
                max-width: 210px;
                font-weight: 500;
                line-height: 1.3;

                @media #{$xl,$lg,$md,$xs} {
                    font-size: 22px;
                }
            }
        }
    }
    

}


/* 
    choose-3-end
*/