/* 
    clients-1-start
*/
.ap-clients-1 {
    &-area {
        background-color: #171717;
    }

    &-top {
        display: grid;
        grid-template-columns: 1fr 1fr;

        @media #{$md,$xs} {
            grid-template-columns: 1fr;
        }

        &-right {
            display: flex;
            align-items: center;
            justify-content: end;
            flex-wrap: wrap;
            gap: 60px;
        }
    }

    &-sec-title {
        @media #{$md,$xs} {
            margin-bottom: 60px;
        }
    }

    &-projects {
        max-width: 240px;

        .number {
            font-size: 56px;
            margin-bottom: 0;
            line-height: 1;
            margin-bottom: 20px;
        }
    }
    
    &-rating {
        .number {
            font-size: 56px;
            line-height: 1;
            margin-bottom: 17px;
        }

        .rating-star {
            font-size: 20px;
            font-weight: 500;
            opacity: 1;
            display: flex;
            gap: 5px;
            margin-bottom: 10px;

            i {
                font-size: 16px;
                margin-top: 4px;
                color: #FFB400;
            }
            
        }
    }

    &-logo {
        display: flex;
        justify-content: center;
        gap: 24px;
        flex-wrap: wrap;
        justify-content: center;

        &-single {
            width: 240px;
            height: 86px;
            border-radius: 12px;
            perspective: 800px;

            .flip-inner {
                position: relative;
                width: 100%;
                height: 100%;
                transition: transform .6s var(--ap-ease-1);
                transform-style: preserve-3d;
            }

            .flip-front,
            .flip-back {
                position: absolute;
                inset: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 12px;
                backface-visibility: hidden;
            }

            .flip-front {
                background: #1B1B1B;
            }

            .flip-back {
                background: var(--ap-clr-pr-1);
                transform: rotateY(180deg);
            }

            &:hover {
                .flip-inner {
                    transform: rotateY(180deg);
                }
            }
        }
    }
}





/* 
    clients-1-end
*/

/* 
    clients-3-start
*/
.ap-clients-3 {
    &-area {
        background-color: #171717;
    }
    &-title {
        font-size: 24px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 32px;
        margin-bottom: 60px;


        .line {
            background: linear-gradient(90deg, #797979 0%, rgba(121, 121, 121, 0) 100%);
            width: 100%;
            height: 2px;
            
            &:nth-child(1) {
                background: linear-gradient(-90deg, #797979 0%, rgba(121, 121, 121, 0) 100%);
            }
        }

        .text-elm {
            max-width: fit-content;
            width: 100%;
            flex: 0 0 auto;
        }
    }

    &-logo {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 20px;

        &-elm {
            &:hover {
                img {
                    animation: pulse 1s;
                }
            }
        }

    }
}
/* 
    clients-3-end
*/