/* 
    faqs-2-start
*/
.ap-accordion {
    &-item {
        border-bottom: 1px solid #1F1F1F;
        .item-title {
            background: transparent;
            width: 100%;
            font-size: 20px;
            font-weight: 400;
            display: flex;
            align-items: center;
            gap: 20px;
            padding: 24px 12px;
            padding-left: 20px;
            text-align: left;
            transition: 0.2s;


            .number {
                color: var(--ap-clr-pr-1);
            }
    

            .icon {
                margin-left: auto;
                transition: 0.2s;
                font-size: 18px;
                width: 50px;
                height: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50px;
                flex: 0 0 auto;
                border: 1px solid #1F1F1F;
                transition: var(--ap-cube-1);

                i {
                    transition: 0.2s;
                }
            }
    
            &:is(:not(.collapsed)) {
                .icon {
                    border-color: var(--ap-clr-pr-1);
                    color: var(--ap-clr-pr-1);
                    transform: rotate(-180deg);
                }

            }

            &:is(.collapsed) {
                &:hover {
                }
            }

        }
        
        .item-disc {
            padding: 25px 20px;
            padding-top: 0;
            max-width: 700px;
        }

        .accordion-collapse {
            &:is(.show) {

            }
        } 

        &:is(.active) {
        }

    }

    
}

.ap-faqs-2 {
    &-area {
        background-color: #171717;
    }

    &-wrap {
        display: grid;
        gap: 110px;
        grid-template-columns: 1.7fr 1fr;
        align-items: center;

        @media #{$md,$xs} {
            grid-template-columns: 1fr;
            gap: 50px;
        }
    }
    
    &-img {
        height: 596px;
        border-radius: 16px;
    }
}
/* 
    faqs-2-end
*/
/* 
    faqs-3-start
*/
.ap-faqs-3 {
    &-wrap {
        display: grid;
        gap: 80px;
        grid-template-columns: 1fr 1.6fr;

        @media #{$md,$xs} {
            grid-template-columns: 1fr;
        }
    }

    &-tabs {
        &-btn {
            display: flex;
            flex-direction: column;
            gap: 12px;
            margin-bottom: 25px;

            .nav-link {
                background: #171717;
                font-size: 20px;
                border-radius: 12px;
                width: 100%;
                text-align: left;
                padding: 21px 21px;
                transition: var(--ap-cube-1);

                &:hover {
                    background-color: var(--ap-clr-pr-1);
                    color: #fff;
                }

                &:is(.active) {
                    background-color: var(--ap-clr-pr-1);
                    color: #fff;
                }
            }
        }

        &-pane {
            .ap-accordion {
                gap: 20px;
                display: flex;
                flex-direction: column;

                &-item {
                    background-color: #171717;
                    border: 1px solid transparent;
                    border-radius: 12px;

                    .item-title {
                        padding: 19px 24px;
                    }


                    .item-disc {
                        padding: 25px 24px;
                        padding-top: 0;
                    }

                    &:is(.active) {
                        border-color: var(--ap-clr-pr-1);
                        box-shadow: 0px 4px 0px 0px var(--ap-clr-pr-1);
                    }
                }
            }
        }
    }

    &-contact {
        text-align: center;
        background: #171717;
        border-radius: 12px;
        padding: 40px 40px;

        .icon-elm {
            font-size: 55px;
            color: #fff;
            margin-bottom: 25px;
        }

        .title {
            font-size: 24px;
            margin-bottom: 12px;
        }

        .disc {
            margin-bottom: 32px;
        }

        .ap-pr-btn-1 {
            width: 100%;

            .text {
                width: 100%;
            }
        }
        
    }
    
    
}


/* 
    faqs-3-end
*/