/* 
    join-us-1-start
*/
.ap-join-us-1 {
    &-sec-title {
        display: flex;
        align-items: center;
        gap: 40px;
        flex-wrap: wrap;
        justify-content: space-between;

        .left {
            max-width: 660px;
        }

        .right {
            max-width: 395px;
        }

        .sec-disc {
            margin-bottom: 34px;
        }
        
    }


    &-card {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 24px;

        @media #{$md} {
            grid-template-columns: 1fr 1fr;
        }

        @media #{$xs} {
            grid-template-columns: 1fr;
        }

        &-single {
            border: 1px solid #1F1F1F;
            border-radius: 12px;
            padding: 24px;
            transition: var(--ap-cube-1);

            .bg-shape {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                z-index: -1;

                rect {
                    transition: var(--ap-cube-1);
                }
            }

            .inner-div {
                background-color: #171717;
                border-radius: 16px;
                text-align: center;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 12px;
                position: relative;
                z-index: 1;
                padding: 40px 40px;
                padding-top: 110px;
                overflow: hidden;

                @media #{$xl,$lg,$md,$xs} {
                    padding: 40px 20px;
                }
            }

            .card-btn {
                width: 50px;
                height: 50px;
                border: 1px solid #fff;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #fff;
                font-size: 21px;
                transition: var(--ap-cube-1);

                &:hover {
                    background: var(--ap-clr-pr-1);
                    border-color: transparent;
                }

            }

            .title {
                font-size: 24px;

                @media #{$xl,$lg,$md,$xs} {
                    font-size: 22px;
                }
            }

            .user {
                font-weight: 300;
                margin-bottom: 29px;
            }
            
            .icon-elm {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                color: #fff;
                background: #1B1B1B;
                width: 100px;
                height: 100px;
                outline: 12px solid #111111;
                border-radius: 50%;
                font-size: 38px;
                margin-bottom: 40px;
                transition: var(--ap-cube-1);


            }

            &:hover {
                border-color: var(--ap-clr-pr-1);
                .bg-shape {
                    rect {
                        fill: var(--ap-clr-pr-1);
                    }
                }
                .icon-elm {
                    background-color: var(--ap-clr-pr-1);
                }
            }
        }
    }
    
    
    
}
/* 
    join-us-1-end
*/