/* 
    marquee-text-1-start
*/
.ap-marquee-text-1 {
    &-area {
        background-color: var(--ap-clr-pr-1);
        padding-top: 36px;
        padding-bottom: 32px;
    }

    &-wrap {
        display: flex;
        align-items: center;

        .single-item {
            flex: 0 0 auto;
            display: flex;
            align-items: center;
            gap: 14px;
            margin-left: 15px;
            font-size: 32px;

            @media #{$xs} {
                font-size: 24px;
            }

            @media #{$sm} {
                font-size: 28px;
            }

        }
    }
    
}
/* 
    marquee-text-1-end
*/
/* 
    marquee-text-2-start
*/
.ap-marquee-text-2 {
    &-area {
        background-color: #171717;
    }
    
    &-wrap {
        display: flex;
        align-items: center;

        .single-item {
            display: flex;
            align-items: center;
            gap: 32px;
            font-weight: 400;
            font-size: 92px;
            flex: 0 0 auto;
            margin-right: 32px;
            color: rgb(255 255 255 / 60%);
            transition: var(--ap-cube-1);

            &:hover {
                color: #fff;
            }

            
            img {
                animation: wa-rotated-minus 10s linear infinite;
            }
        }
    }
}

/* 
    marquee-text-2-end
*/