/* 
    projects-1-start
*/
.ap-projects-1 {
    &-sec-title {
        display: flex;
        align-items: center;
        gap: 40px;
        flex-wrap: wrap;
        justify-content: space-between;

        .left {
            max-width: 660px;
        }

        .right {
            max-width: 385px;
        }

        .sec-disc {
            margin-bottom: 34px;
        }
        
    }
    &-tabs {
        &-btn {
            display: flex;
            gap: 15px 40px;
            flex-wrap: wrap;
            border-bottom: 1px solid #1F1F1F;
            padding-bottom: 32px;
            margin-bottom: 72px;

            .nav-link {
                color: #fff;
                background: transparent;
                font-size: 20px;
                font-weight: 300;
                transition: var(--ap-cube-1);

                &:hover {
                    color: var(--ap-clr-pr-1);
                }

                &:is(.active) {
                    color: var(--ap-clr-pr-1);
                }
            }
        }

        &-pane {
            .item-grid {
                display: grid;
                gap: 80px;
                grid-template-columns: 1fr 1fr;

                @media #{$md,$xs} {
                    grid-template-columns: 1fr; 
                }

                &-col {
                    display: flex;
                    flex-direction: column;
                    gap: 80px;
                }
            }
            
        }


    }

    &-card {
        border-bottom: 1px solid #1F1F1F;
        padding-bottom: 32px;

        .title {
            font-size: 32px;
            font-weight: 300;
            transition: var(--ap-cube-1);

            @media #{$lg,$md,$xs} {
                font-size: 24px;
            }

            a {
                display: inline;
                color: inherit;
                background-image: linear-gradient(currentColor, currentColor);
                background-repeat: no-repeat;
                background-position: left 100%;
                background-size: 0% 1px;
                transition: var(--ap-cube-1);

                &:hover {
                    color: var(--ap-clr-pr-1);
                    background-size: 100% 1px;
                }
            }
        }

        .item-img {
            height: 518px;
            border-radius: 16px;
            margin-bottom: 50px;
        }
        
        .item-meta {
            position: absolute;
            bottom: 0;
            background: #111111;
            border-radius: 0 16px 0 0;
            display: flex;
            padding: 12px 20px;
            gap: 32px;

            &-elm {
                color: #DFDFDF;
                opacity: 1;

                &:last-child {
                    position: relative;
                    z-index: 1;
                    color: #fff;

                    &::after {
                        content: "";
                        width: 8px;
                        height: 8px;
                        border-radius: 50%;
                        position: absolute;
                        left: -18px;
                        top: 10px;
                        background-color: var(--ap-clr-pr-1);
                    }
                }
            }
        }

        .btn-box {
            display: flex;
            align-items: center;
            justify-content: center;
            inset: 0;
            position: absolute;
            z-index: 1;
            transform: scale(.5);
            opacity: 0;
            visibility: hidden;
            transition: var(--ap-cube-1);
        }
        
        .item-btn {
            width: 160px;
            height: 160px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: var(--ap-clr-pr-1);
            border-radius: 50%;
            opacity: 1;
        }

        &:hover {
            .btn-box {
                opacity: 1;
                visibility: visible;
                transform: scale(1);
            }

            .item-btn {
                &:hover {
                    transform: scale(.9);
                    color: #fff;
                }
            }
        }


        &:is(.has-lg-size) {
            .item-img {
                height: 700px;
            }


        }
        
    }
}

/* 
    projects-1-end
*/

/* 
    projects-2-start
*/
.ap-projects-2 {
    &-area {
        background-color: #171717;
    }
    &-wrap {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 24px;

        @media #{$lg,$md} {
            grid-template-columns: 1fr 1fr ;
        }

        @media #{$xs} {
            grid-template-columns: 1fr ;
        }
    }

    &-item {
        padding-bottom: 32px;
        position: relative;
        z-index: 1;

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: auto;
            right: 0;
            width: 0%;
            height: 1px;
            background-color: #fff;
            transition: var(--ap-cube-1);
        }

        .img {
            &-box {
                height: 480px;
                border-radius: 16px;
                position: relative;
                z-index: 1;
                margin-bottom: 32px;

                img {
                    transition: var(--ap-cube-1);
                }
            }

            &-btn-box {
                position: absolute;
                inset: 0;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: var(--ap-cube-1);
                opacity: 0;
                visibility: hidden;
            }
            
        }

        .content-box {
            padding: 0 10px;
        }

        .item-meta {
            display: flex;
            gap: 20px;
            justify-content: space-between;
            flex-wrap: wrap;
            margin-bottom: 26px;
        }

        .title {
            font-size: 24px;
            font-weight: 400;
            transition: var(--ap-cube-1);

            @media #{$lg,$md,$xs} {
                font-size: 22px;
            }

            &:hover {
                color: var(--ap-clr-pr-1);
            }
        }

        &:hover {
            &::after {
                left: 0;
                right: auto;
                width: 100%;
            }
            .img-box {
                img {
                    transform: scale(1.02);
                }
            }
            .img-btn-box {
                visibility: visible;
                opacity: 1;

            }
        }
    }
    
}



/* 
    projects-2-end
*/

/* 
    projects-3-start
*/
.ap-projects-3 {
    &-area {
        background-color: #171717;
    }
    &-sec-title {
        display: flex;
        align-items: center;
        gap: 40px;
        justify-content: space-between;

        @media #{$md,$xs} {
            flex-wrap: wrap;
        }

        .left {
            max-width: 520px;

        }

        .right {
            max-width: 410px;
        }

        .sec-disc {
            margin-bottom: 32px;
        }
    }

    &-wrap {
        display: grid;
        gap: 24px;
        grid-template-columns: 1fr 1fr 1fr;
    }


    &-item {
        .img-elm {
            height: 416px;
            border-radius: 8px;
            background-color: #1B1B1B;
            padding: 32px;
            margin-bottom: 24px;
            transition: var(--ap-cube-1);

            img {
                border-radius: 8px;
            }
        }

        .content-wrap {
            display: flex;
            align-items: center;
            gap: 20px;
            flex-wrap: wrap;
            padding: 0 10px;
            justify-content: space-between;
        }

        .title {
            font-size: 18px;
            text-transform: uppercase;
            transition: var(--ap-cube-1);

            &:hover {
                color: var(--ap-clr-pr-1);
            }
        }

        .item-btn {
            width: 32px;
            height: 32px;
            color: #fff;
            border: 1px solid #fff;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            transition: var(--ap-cube-1);

            &:hover {
                color: #fff;
                background-color: var(--ap-clr-pr-1);
                border-color: var(--ap-clr-pr-1);
            }
        }

        &:hover {
            .img-elm {
                padding: 0;
            }
        }

    }
}
/* 
    projects-3-end
*/